<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cname</key>
		<string>智能E家</string>
		<key>pic</key>
		<string>ejia.png</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>物业管理</string>
		<key>pic</key>
		<string>wuye.png</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>社区服务</string>
		<key>pic</key>
		<string>fuwu.png</string>
	</dict>
</array>
</plist>
