<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>pic</key>
		<string>launch_0.png</string>
		<key>url</key>
		<string>#</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>pic</key>
		<string>launch_1.png</string>
		<key>url</key>
		<string>#</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>pic</key>
		<string>launch_2.png</string>
		<key>url</key>
		<string>#</string>
	</dict>
</array>
</plist>
