<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>catid</key>
		<integer>96</integer>
		<key>cname</key>
		<string>今日头条</string>
	</dict>
	<dict>
		<key>catid</key>
		<integer>100</integer>
		<key>cname</key>
		<string>本地新闻</string>
	</dict>
	<dict>
		<key>catid</key>
		<integer>104</integer>
		<key>cname</key>
		<string>我在现场</string>
	</dict>
	<dict>
		<key>catid</key>
		<integer>103</integer>
		<key>cname</key>
		<string>&quot;醉&quot;美凉都</string>
	</dict>
	<dict>
		<key>catid</key>
		<integer>105</integer>
		<key>cname</key>
		<string>娱乐八卦</string>
	</dict>
</array>
</plist>
